td {
	height: 5rem;
	padding: 1em;
	width: 100%;
}
.favouriteProduct,
.manageFavourite,
.photo,
.price,
.quantity,
.totalPrice,
.addFavourite {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.favouriteProduct {
	padding: 1em 0;
	border: 0.0625rem solid var(--color-dark-grey);
}
.addFavourite,
.removeProduct {
	cursor: pointer;
	transition: transform 0.3s;
}
.addFavourite:hover {
	transform: scale(1.2);
}
.removeProduct:hover {
	transform: scale(1.4);
}
.bag,
.photo img {
	margin-right: 0.5rem;
}

.photo h5 {
	text-align: center;
}
.photo img {
	height: 200%;
}
.quantity input {
	width: 30%;
	padding: 1rem;
	text-align: center;
}
.favouriteProduct {
	flex-wrap: wrap;
}
.addFavourite,
.addFavourite p,
.price p,
.photo h5 {
	margin: 0;
}
button {
	border: none;
	background: none;
}

@media (min-width: 768px) {
	.favouriteProduct,
	.manageFavourite,
	.photo,
	.price,
	.quantity,
	.totalPrice {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.favouriteProduct {
		flex-wrap: nowrap;
		border: 0;
		border-bottom: 0.0625rem solid var(--color-dark-grey);
	}
	span {
		display: none;
	}

	.quantity input {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.quantity input {
		width: 50%;
	}
}
