h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 1rem;
	padding: 1rem;
}
img{
	margin-left: 0.25rem;
}

@media(min-width: 576px){
	h1{
		font-size: 2rem;
	}
}