.topBar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	margin: 0 auto;
	width: 100%;
	max-width: 100rem;
	height: 72px;
}
.topBar > div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@media (min-width: 768px) {
	.topBar {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
