.favouriteList {
	margin: 5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
th {
	padding: 1em 0;
	width: 15rem;
	border-bottom: 0.125em solid var(--color-dark-grey);
}
